@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {

  --color-text-dark: oklch(19.28% 0.045 243.97);
  --color-text-light: #F0F0F0;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-inter: var(--font-inter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  /* Gradient */
  --gradient-primary: linear-gradient(45deg,
      oklch(59.23% 0.213 264.65),
      oklch(78.09% 0.118 225.76));
  --gradient-button: linear-gradient(180deg,
      oklch(78.09% 0.118 225.76) 0%,
      oklch(59.23% 0.213 264.65) 100%);
}

:root {
  --radius: 0.625rem;
  --background: oklch(99.07% 0.003 354.69);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(78.09% 0.118 225.76);
  --primary-dark: oklch(59.23% 0.213 264.65);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(16.07% 0.027 265.83);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  /* --primary: oklch(0.922 0 0); */
  --primary: oklch(78.09% 0.118 225.76);
  --primary-dark: oklch(59.23% 0.213 264.65);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    /* font-family: "Manrope", sans-serif; */
    /* font-optical-sizing: auto; */
    /* @apply border-border outline-ring/50; */
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}

@layer components {
  .nav-items {
    @apply mx-4 lg:mx-6 text-sm lg:text-base text-text-dark dark:text-white border-primary hidden shrink-0 lg:inline-block transition-all duration-200;
  }

  .nav-items:hover {
    @apply border-b -translate-y-0.5 border-primary transition-transform duration-200 ease-out;
  }

  .btn-primary {
    @apply bg-linear-to-b from-[#55C7F1] to-[#3C71FA] text-[#FEFBFC] rounded-md font-medium transition-all duration-300 ease-out hover:-translate-y-0.5 hover:shadow-md hover:shadow-[#3C71FA]/30 dark:hover:shadow-[#011627]/30 hover:from-[#39BDEE] hover:to-[#1D58F0] active:translate-y-0 active:shadow-md focus:outline-none focus:ring-2 focus:ring-[#55C7F1]/50 cursor-pointer
  }

  .btn-outline {
    @apply rounded-md dark:hover:bg-[#FEFBFC]/5 font-medium text-[#011627] dark:text-[#FEFBFC] bg-transparent transition-all duration-300 ease-in-out hover:-translate-y-0.5 border border-[#011627]/20 hover:border-[#011627]/90 dark:border-[#FEFBFC]/30 dark:hover:border-[#FEFBFC]/90 active:translate-y-0 active:scale-[0.97] focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-[#55C7F1]/50 focus-visible:scale-[0.98] hover:shadow-md hover:shadow-[#011627]/30 dark:hover:shadow-[#011627]/30
  }

  .responsive-btn {
    @apply md:h-10 md:px-4 md:text-sm md:py-2 md:has-[>svg]:px-3 h-9 text-xs gap-1.5 px-4 has-[>svg]:px-2.5 lg:h-12 lg:text-base lg:px-6 lg:has-[>svg]:px-4 xl:h-12 xl:px-8 xl:has-[>svg]:px-6
  }

  .responsive-icon {
    @apply size-8 md:size-9 lg:size-10
  }

  .gradient-primary {
    background: var(--gradient-primary);
  }

  .gradient-button {
    background: var(--gradient-button);
  }

  .section-offset {
    scroll-margin-top: 90px;
    /* match navbar height */
  }

}

@layer base {
  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold leading-tight text-[#080D1A] dark:text-white;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl font-semibold;
  }

  h2>span {
    @apply text-2xl md:text-3xl lg:text-4xl font-semibold;
  }

  h3 {
    @apply text-sm md:text-lg lg:text-xl font-normal;
  }

  p {
    @apply text-sm md:text-base lg:text-lg leading-relaxed;
  }

  label {
    @apply text-sm sm:text-base mt-3 mb-1 leading-relaxed font-normal;
  }

  input {
    @apply p-2 text-sm md:text-base border rounded-lg pl-8 w-full;
  }

  textarea {
    @apply p-2 text-sm md:text-base border rounded-lg;
  }


}